[2014-05-12 21:16] kadamwhite opened #11 "Use Uglify to create un-minified, built script?"
I left this as a comment on commit [98954d](https://github.com/WP-API/client-js/commit/98954d16679bec9b1839e78e14c6b88ad0c2740f#commitcomment-6296303), but I'm moving it to an issue to keep the discussion visible:

We definitely need a minified and un-minified version of the wp-api script. What we have now uses Concat to assemble all of the script files into one bundle, and then uses Uglify to ass

[2014-06-07 13:46] rachelbaker opened #17 "Update WP API url location to use json_get_url_prefix()"
Update JS client to match change made in: https://github.com/WP-API/WP-API/pull/278

[2014-06-08 16:32] #17 closed, assigned to nobody

[2014-06-18 03:50] Japh opened #18 "Create a package for npm"
What needs to be changed for this to create a package that can be added to npm for use within Node.js applications?

[2014-06-18 04:33] tlovett1 opened #19 "Can't OAuth1 Connect"
I am running this on my local VVV install:

First I ran the following command:

[code]

Result:

[code]

Then I ran the following:

[code]

Result:

[code]

[2014-06-18 04:34] #19 closed, assigned to nobody

[2014-06-18 14:57] #18 closed, assigned to nobody

[2014-09-10 01:13] josiahgoff opened #21 "Build needs to be run"
The build process needs to be run and committed so that the cookie authentication added in a previous commit will be included in the enqueued script in the WP-API plugin.

I would do it myself and submit a pull request, but for some reason it's throwing all kinds of errors on my machine.

[2014-09-10 03:27] #21 closed, assigned to nobody

[2014-09-30 19:02] josiahgoff opened #23 "Draft posts throw invalid time value error"
When running `toJSON()` on a post object that has a status of 'draft', it throws an error because we're trying to run `toISOString()` on `null`, since there is no date for an unpublished post.

Found here: https://github.com/WP-API/client-js/blob/gh-pages/js/models.js#L32

![screen shot 2014-09-30 at 11 51 56 am](https://cloud.githubusercontent.com/assets/684774/4464359/26b9924a-48d3-11e4-9680-90a

[2014-10-06 04:50] beaulebens opened #24 "Allow unauthenticated usage"
To make this more flexible, it'd be good to allow unauthenticated use (which basically just means not sending a nonce).

This is really easy to accomplish by just making the `X-WP-Nonce` header conditional, and not sending it if it's not available (or perhaps if it's explicitly set to `false` or something if you prefer.

Doing so makes this library usable outside of a strict WordPress environment,

[2014-10-06 05:14] #24 closed, assigned to nobody

[2014-10-08 07:21] EugeneLiang opened #25 "Tutorial for using client-js to perform OAuth ?"
Hi good day,

I was wondering if there's a tutorial to use client-js to perform a OAuth authentication
with WordPress ? I've been trying to search for a complete tutorial that uses client-js but
i can't seem to find a proper one.

any ideas or starting point ?

Thank you!

[2014-10-09 13:44] #25 closed, assigned to nobody

[2014-11-06 22:14] josiahgoff opened #26 "Need {add: true} when fetching pagination"
We need to pass in `{add: true}` when grabbing the next page in the `more()` method. Right now it's duplicating the first page in the collection when the method is called.

https://github.com/WP-API/client-js/blob/gh-pages/js/collections.js#L109

[2014-12-19 20:19] nathanaelphilip opened #27 "Grabbing Custom Post type Example."
[code]

Is this correct? Could we get some examples on how to pull custom post type data?

Thanks!

[2014-12-20 03:05] #27 closed, assigned to nobody

[2015-01-07 00:35] owldesign opened #28 "Custom meta fields missing from post object while using json_prepare_post"
I'm using this plugin to merge my ACF fields to meta attribute (https://github.com/PanManAms/WP-JSON-API-ACF/blob/master/plugin.php)

If I got directly to the json page (ex: http://wpjson.dev/wp-json/posts/) I can see the custom fields successfully showing up in my "meta" attribute for each post.

However, while using this javascript client and console.loging the post object (used one of the examp

[2015-01-07 01:18] #28 closed

[2015-03-06 14:07] indefinit opened #29 "Best practice to use client-js as a plugin?"
Hello, I'm sort of new to wordpress development (more of a front end js developer), so apologies if this is a very basic question, but I wasn't clear from the readme.  My goal is to build a backbone app that uses WP-API as my interface to a wordpress instance.

I'm trying to use the backbone client-js with WP-API and I'm a little confused about the development workflow.  Is the best practice to in

[2015-03-06 14:16] indefinit commented on #29
After re-reading the README a few times, I think my confusion is around the setup instruction re: Github pages.  What if I don't want to use Github pages?

[2015-03-07 18:41] gino8080 opened #31 "Is it possibile to EDIT / CREATE custom_meta fields using this plugin?"
How to create / update multiple custom_metas ?

i'm using Advanced custom field

[2015-04-21 19:41] ryuheiyokokawa opened #32 "Any chance you guys would build in CPT?"
I'm not sure, but it seems the Backbone models and the collections are static and can't be dynamically assigned to custom post types.  Any chance you are working on that? If not, its very easy to just add what we need, but I figured I'd ask.

[2015-09-16 23:28] btown69 commented on #32
We are resolving that ASAP, Sorry for the inconvenience for now.

[2015-09-22 05:15] rmccue opened #37 "Nonce header is incorrect"
Right now, the header being sent along is `HTTP_X_WP_NONCE`. This is actually just the internal PHP name for it; the head should be `X-WP-Nonce` when sending it. (PHP changes dashes to underscores, uppercases the string, and prepends `HTTP_`)

[2015-09-23 23:34] ryuheiyokokawa commented on #32
@btown69 awesome. It would be nice to be able to just pass arguments to the model initialization process (maybe filters as an array or something too).

[2015-10-03 01:50] #37 closed

[2015-10-14 00:08] nathanaelphilip opened #41 "attributes[key].toISOString is not a function"
[code]

Line 105 i think. This only happened when I loaded posts in via this call:

[code]
[code]

using this.model.attributes instead of this.model.toJSON() fixed the issue. Just not sure if that will lead to more consequences down the road.

[2015-10-19 21:37] nathanaelphilip opened #42 "Comments Collection URL is wrong"
I think it should just be /comments as found here:

[code]

[2015-10-20 01:20] rmccue commented on #42
Can you clarify what you mean by "is wrong"? There's not enough details here to go on.

[2015-10-20 07:26] nathanaelphilip commented on #42
sure! line 503:

[code]

should just be:

[code]

[2015-12-03 15:10] demixpress opened #46 "collection.create() got 400 error?"
Hi,

I tried to create new post in backbone way:

<pre>
var posts = new wp.api.collections.Posts();
var data = {
        title: 'Title'
    };
posts.create(data);
</pre>

and got a 400 error:

POST http://192.168.1.107/demo/wp-json/wp/v2/posts 400 (Bad Request)

but the jquery way is working:
<pre>
$.ajax({
        method: "POST",
        url: WP_API_Settings.root + 'wp/v2/posts',
        data: da

[2015-12-09 23:05] adamsilverstein commented on #46
Hi @demixpress! Thanks for the bug report.

I have been working on our model implementation and tested creating a new post using the model wp.api.models.Post

After a fix, I got it working - here was my test code:

{{{
var post = new wp.api.models.Post();
var data = {
		title: 'This is a test post.'
	};
post.save( data );

}}

It turns out there was a bug in the model for a single post that preven

[2015-12-09 23:07] adamsilverstein commented on #46
Verified the code from your original snippet now works:

[code]

[2015-12-09 23:08] adamsilverstein commented on #46
Closing as resolved, thanks again for the bug report.

[2015-12-09 23:08] #46 closed

[2015-12-09 23:11] adamsilverstein commented on #42
@nathanaelphilip: Thank you for the bug report!

This is now corrected in the latest version, see https://github.com/WP-API/client-js/blob/master/js/models.js#L410

[2015-12-09 23:11] #42 closed

[2015-12-12 01:34] adamsilverstein opened #53 "Setup models and collections dynamically based on the api schema"
At the suggestion of @okofish and after reading the post about the discovery client from @rmccue , I decided to attempt a rewrite of the JavaScript library with this simple goal:  *instead of predefining models and collections, set them up dynamically based on the api schema*.

[This branch](https://github.com/WP-API/client-js/tree/develop) is a work towards that goal. After loading the JS you wil

[2015-12-12 02:08] adamsilverstein commented on #11
Closing. At some point since this was opened, we added a non minified build via concat I believe. If there is a need to do something different, please open a new pull request with the details.

Thanks!

[2015-12-12 02:08] #11 closed

[2015-12-12 02:49] adamsilverstein commented on #23
@josiahgoff

Thanks for reporting this issue. This should be corrected in the latest version of the library, in the [develop branch](https://github.com/WP-API/client-js/tree/develop).

Here is a sequence showing saving a new post in the console, can you please retest and see if this resolves the issue for you? Since I'm seeing this fixed, I'm marking as resolved, please reopen if you still have an

[2015-12-12 02:49] #23 closed

[2015-12-12 02:56] adamsilverstein commented on #29
@indefinit

Thanks for taking a look at this library.

In regards to your questions, this library is bundled with the WP-API plugin, actively being developed here: https://github.com/WP-API/WP-API. This client-js repo is more more rapid iteration on the client js library.

Ultimately, this library will be included in core. For now, this library is designed as a plugin, when you activate it, its JS

[2015-12-12 02:56] #29 closed

[2015-12-12 03:00] adamsilverstein commented on #32
@ryuheiyokokawa @btown69

Thanks for the suggestion! In the latest version of the plugin in the develop branch (https://github.com/WP-API/client-js/tree/develop), we map models and collections for all endpoints exposed by the api schema using discovery. If you add routes, and ensure they are included in the root endpoint, the library should properly set up models and collections.

Please give it a

[2015-12-12 03:00] #32 closed

[2015-12-12 03:03] adamsilverstein commented on #41
@nathanaelphilip

Thanks for your feedback.

Is this issue for the WP_API? this repository is for the JavaScript library included with the WP-API. if you have an endpoint issue with the PHP, please open an issue on the main repository: https://github.com/WP-API/WP-API/issues.

Thanks!

[2015-12-12 03:03] #41 closed

[2015-12-12 03:11] adamsilverstein commented on #31
@gino8080

Yes,

you should be able to this by initiating a collection with all of the post meta and then performing a sync.

something like this, you can also pass the models to the collection as the first parameter, or get them from the server.  if you are updating or getting you would need to pass the parent to the collection (as the second parameter { parent: parentid } )

{{
postMetaCollectio

[2015-12-12 03:11] #31 closed

[2015-12-12 03:17] nathanaelphilip commented on #41
will do! thanks Adam :)

[2015-12-12 23:31] adamsilverstein commented on #26
Hi @josiahgoff - Thank you for your report.

Can you please recheck with the current version of the plugin in the develop branch? It and the API have undergone some significant revisions and I believe this issue is resolved.

I am able to use the more command correctly. Here is a screenshot of me using the more command with a post collection in the console. I always seem to get the expected posts

[2015-12-13 15:23] danielbachhuber commented on #53
So cool!

Based on the work you've done so far, how do you feel about this conceptually? Is the API schema descriptive enough? Where is it really helpful, and where does it fall short?

[2015-12-13 16:14] okofish commented on #53
Looks great! I haven't gotten a chance to test it yet, but the code is very well documented. I particularly like the schema caching system.

[2015-12-13 18:30] adamsilverstein commented on #53
@danielbachhuber - glad you like it :)

 so far, i'm finding almost all of what i need in the schema;

I am preserving a copy of each route in the corresponding model or collection, and I'm thinking about how to expose all the contained information. I'm currently working on code that adds default attributes to models by traversing the route endpoints and finding/merging args for endpoints that con

[2015-12-13 18:36] adamsilverstein commented on #53
@okofish glad you like it, thanks for the suggestion! testing and any feedback appreciated,

I added the caching to avoid multiple calls to the schema endpoint, its sessionStorage, so its easy to clear (new tab does it). i'd like to add jsonp support  and the ability to connect with more than one endpoint, so you could pull in data from multiple apis. maybe a model for endpoint, and a collection t

[2015-12-13 23:02] danielbachhuber commented on #53
Not intentional :) Please open an issue, or create a PR if you feel inclined.

[2015-12-14 03:48] adamsilverstein commented on #53
In latest version I parse the endpoint GET and build model/collection options:  so Posts collection gets options of 'author, context, filter, order, orderby, page, per_page, search and status'

[2015-12-14 15:30] adamsilverstein commented on #53
@danielbachhuber I was using a slightly outdated version of the wp-api and when I upgraded some of the routes had new data. I will try to audit the endpoints to see whats still missing.

In addition to the POST/PUT endpoints, I am also now parsing the GET endpoints and adding these as model and collection options, setting defaults if defined.

[2015-12-14 23:04] danielbachhuber commented on #53
Sounds good.

[2015-12-16 06:08] adamsilverstein commented on #53
verified that with this new approach, a CPT added with 	`'show_in_rest' => true` automatically creates matching models and collections for the resulting endpoints.

[2015-12-18 03:34] adamsilverstein opened #54 "Me endpoint getting processed as collection"
this is a special case, it should be a model even though its route doesn't end in a regular expression

[2015-12-18 04:19] adamsilverstein commented on #53
Merged these changes to master.

[2015-12-18 04:19] #53 closed

[2015-12-18 04:19] adamsilverstein commented on #26
Closing as resolved, I have tested this and its now working.

[2015-12-18 04:19] #26 closed

[2015-12-27 03:57] colinhowells opened #57 "Embeds in collections"
Is it possible to set _embed when using this? I gather that [embeds are on for collections] (https://github.com/WP-API/WP-API/pull/1459), but I'm unclear on what the syntax would be here; not sure if there's something like `var postsCollection = new wp.api.collections.Posts( {}. { embed: 'yup' } );` and embeds seem to be off by default.

[2015-12-27 17:18] rayhooker opened #58 "Pagination Per Page Problem"
The example of how to set the per_page posts is not correct.  I am actually trying to work with custom post types but tried the example.  Clearly this is not valid Javascript syntax:

var postsCollection = new wp.api.collections.Posts( {}. { per_page: '25' } );

The other question is that I see how to get "more" but can I go back or start at a particular count?

Ray

[2015-12-27 21:56] adamsilverstein commented on #58
good point @rayhooker, thats wrong - I will fix that.

The correct code should be:

`var postsCollection = new wp.api.collections.Posts( );
postsCollection.fetch( { data: { per_page: 25 } } );`

Here is a screenshot of me using this in the console:

![pagination](http://cl.ly/2K343d2W1v3w/test__local_dev_2015-12-27_14-54-08.jpg)

Thanks for pointing this documentation error out, can you please tes

[2015-12-27 21:58] adamsilverstein commented on #58
Corrected the readme.

[2015-12-27 22:07] adamsilverstein commented on #57
@colinhowells

Thanks for the question. The docs are a little weak here, I will try to improve that.

You should be able to get post _embed data directly from collections:
`
var posts = new wp.api.collections.Posts()
posts.fetch( { data: { _embed: true } } );
`

Here is how this looks in my console, with this parameter passed, the api returns all post meta data:

![](http://cl.ly/3q1w1c0b1B1Q/test

[2015-12-27 22:20] rayhooker commented on #58
That works great. Perfect!!  I am also working out a few more options such as orderby (e.g., "page", "slug" or maybe even ordering by title/ rendered).

I tried for a custom post type:
Projects.fetch({ data: { per_page: 5, orderby: 'slug' }})

That did not work but OTOH, the following does work:
Projects.fetch({ data: { per_page: 5, page: 2}})

Is there something special about orderby that require

[2015-12-27 22:21] colinhowells commented on #57
Ahhhhh it was staring me [right in the face] (https://github.com/tlovett1/_s_backbone/blob/master/js/loop.js#L25) [the whole time] (https://github.com/tlovett1/_s_backbone/blob/master/js/loop.js#L182). Thanks, I'm still learning all this.

One question though: while now I can get to, say, `post._embedded.author[0].name` I can't get ahold of  `post._embedded.['https://api.w.org/featuredmedia'][0].m

[2015-12-27 23:38] adamsilverstein commented on #57
@colinhowells:
I am able to get this with
`postsCollection.models[0].attributes._embedded['https://api.w.org/featuredmedia'][0].media_details.sizes.medium.source_url`

What happens when you try that?

![](http://cl.ly/2i0I1Y1W1h2v/test__local_dev_2015-12-27_16-37-34.jpg)

[2015-12-27 23:45] adamsilverstein commented on #58
Hey @rayhooker glad that helped.

I will dig into orderby, I haven't tried that yet :) We need to match what the API is expecting in the request. Can you verify you are logged in to WordPress, maybe orderby is private and requires authentication?

You can check the endpoint options for the collection with this, they should match what the API reports in its endpoint data:

`wp.api.collections.Posts

[2015-12-27 23:49] colinhowells commented on #57
Turns out I had a dot in there I didn't need. I had `_embedded.['https://api.w.org/featuredmedia']` but what I needed was `_embedded['https://api.w.org/featuredmedia']` I wasn't expecting that, since `_embedded.author[0]` needs that dot. Evidently closing the URL in brackets serves the same function, which I didn't know.

[2015-12-27 23:53] rayhooker commented on #58
Okay so I found the answer:

Projects.fetch({ data: { per_page: 5, filter: { orderby: 'title', order: 'ASC' }}})

You can pass a filter to control the order.  Also you can then select out the per page and the page as well

Projects.fetch({ data: { per_page: 5, page: 2, filter: { orderby: 'title', order: 'ASC' }}})

This returns the second page of a set of in this case 21 objects with 5 per page an

[2015-12-28 00:58] adamsilverstein commented on #58
@rayhooker

I was able to get orderby working with 'filter', this changed the order for me, can you try this?

`postsCollection.fetch( {data: { 'filter[orderby]': 'name', 'filter[order]': 'asc', per_page: 5 } } )`

[2015-12-28 01:01] adamsilverstein commented on #57
Cool, marking this as resolved :+1:  Thanks for building on this library!

Please share your project with the rest-api team when/if its in a public place!

[2015-12-28 01:01] #57 closed

[2015-12-28 02:00] rayhooker commented on #58
It looks like both options work.  The only comment is that I don't believe "name" is a valid field for posts so assuming I have already done a new on a collection for the "Project" post type and assigned it to "Project", the following worked for me:

Project.fetch( {data: { 'filter[orderby]': 'title', 'filter[order]': 'dsc', per_page: 5 } } )

[2015-12-28 02:01] rayhooker commented on #58
I saw both options that include the notation I posted above. I have not traced the code to see why both work, but they both seem logically equivalent.

[2015-12-28 07:51] colinhowells commented on #57
Thanks for taking the time to help, I appreciate it!

[2015-12-28 15:19] adamsilverstein commented on #58
Great, glad that worked, closing this issue. Please feel free to open a new issue if you run into any issues. Also, please share your project with the team if its public/sharable. Thanks for trying out the client-js library.

Note: re 'name' vs. 'slug' --

In general, WP-API passes these values on to WP_Query, so you can check those docs to see what options are available and how to use them. For o

[2015-12-28 15:19] #58 closed

[2015-12-30 18:05] rayhooker opened #59 "Routing Not Working"
I am having a fit trying to get routing to work.  I have a page "projects" that displaying a grid of projects (like portfolio with featured image).  The images have imbedded anchor tags to display the project details in a separate page.  That works with the standard post route, but I don't seem be able to get control and display in the same page.   For example:

var Router = Backbone.Router.extend

[2015-12-30 20:09] adamsilverstein commented on #59
@rayhooker
You could try matching query vars: something like ?projectid=:id then your url would stay at the root page? Maybe share your code on a github repo and I can take a look.

Good luck! I'm closing this ticket though, this is outside the scope of this library.

[2015-12-30 20:09] #59 closed

[2016-01-02 03:42] tandoigai opened #60 "wp.api.models.Post( { title: 'This is a test post' } );"
Please change it a bit in the documentation:

The true is:

<pre><code>wp.api.models.Post( { title: 'This is a test post' } );</code></pre>

while in the documentation, it was

<pre><code>wp.api.models.Posts( { title: 'This is a test post' } );</code></pre>

Letter <strong>s</strong> after Post is redundant.

[2016-01-02 17:01] adamsilverstein commented on #60
@tandoigai

Thanks for the issue report.

In the current version of the plugin code (install this plugin), the models and collections are built out from the API Schema and you will see that the model names have changes slightly to *exactly match their endpoint equivalents* -

Therefore, the Post model became `Posts`. If you already have code built around Post, it shouldn't be too hard to add a wra

[2016-01-02 17:04] #60 closed

[2016-01-04 17:16] adamsilverstein commented on #54
This special case is currently accounted for; see https://github.com/WP-API/client-js/blob/master/js/load.js#L103

Closing as resolved.

[2016-01-04 17:16] #54 closed

[2016-01-11 03:15] rayhooker opened #77 "Adding a New Post Does not Update Fields"
So I am using the client to retrieve a list of related posts to a given post.  It is actually a project custom post type with a need post type.  I am able to retrieve the needs custom post type.  I created it using a standard admin menu, creating it and publishing it.

The idea is to allow the person editing the parent post type to add to the list.  So I add a new item to the collection.  This upd

[2016-01-11 16:30] adamsilverstein commented on #77
@rayhooker

Thanks for using the client js library. Collection sync will work, however you may need to help it :)

I may need to look at your code a bit more to help, can you post it or parts of it to a gist or github repo?

when syncing back posts in a collection, you may have to add some additional handling. its helpful to inspect the network console in chrome: can you see where the request went

[2016-01-14 07:32] rmccue opened #79 "Model defaults are set incorrectly?"
Phew, so, this took me a while. Here's the problem:

* `wp.api.models.Post.prototype.defaults` no longer exists :(
* `wp.api.models.Post.defaults` does exist, but contains useless properties, and I'm 90% certain it's not meant to be used for model defaults.

Not sure if this is intentional? Essentially, what's happening is that the args from POST/PUT are used for the model's defaults, although it'

[2016-01-14 16:31] adamsilverstein commented on #79
@rmccue -

Thanks for tracking this down and bringing it up, I will review. The change was not intentional, there has been some churn in the defaults

The defaults are currently being grabbed from each endpoint; I agree they should be applied to the prototype (as a property though, you indicate its a function return above, were you really using it that way?)

I'm currently traversing the POST endp

[2016-01-16 02:08] rmccue commented on #79
Backbone supports either using `_.result()`, similar to how `.url` can be a property or a function. I need the function variant for the deferred/JIT processing.

The screenshot here actually shows _no_ default values; the arg object is options for that argument, not just the default. It looks like we don't have default values set for the POST, so we shouldn't be using the rest as the "default".

I

[2016-01-19 04:59] adamsilverstein commented on #79
I'm :+1: PR that patch and I will review/merge :)

[2016-01-26 00:30] danielbachhuber opened #80 "Refactor how categories and tags are managed for posts"
We changed the implementation in the API, so the JS client needs to be updated accordingly https://github.com/WP-API/WP-API/issues/2032

[2016-01-27 15:51] adamsilverstein commented on #80
Thanks for pointing this out @danielbachhuber - I will work on these changes and comment back here.

[2016-01-29 11:39] adamsilverstein opened #81 "Add support for OAuth authentication"

[2016-01-29 11:40] adamsilverstein opened #82 "Refresh nonce to allow for long lived apps"

[2016-01-29 12:30] adamsilverstein opened #84 "When parsing schema, use ?context=help to grab details"

[2016-01-29 13:20] kadamwhite commented on #82
c.f. WP-API/WP-API#2146

[2016-01-29 14:53] adamsilverstein commented on #79
Fixed in https://github.com/WP-API/client-js/pull/85, thanks!

[2016-01-29 14:53] #79 closed

[2016-02-07 05:28] MurhafSousli opened #87 "wpApiSettings is not defined"
Hi, I tried to include the script `wp-api.min.js` from the build dir, I get this exception

`Uncaught ReferenceError: wpApiSettings is not defined(anonymous function) @ models.js:114`

how can I fix this error?

[2016-02-07 20:39] kadamwhite commented on #87
I could be wrong (@adamsilverstein is the authority here), but I believe that this script is designed to be enqueued through WordPress, so that WP's script localization capabilities can inject that configuration object based on your specific WP install. Is there a reason you need to hard-code a script tag for the client JS rather than using the enqueue script method?

[2016-02-07 23:26] rmccue commented on #87
In fact, it's required to be, you can't use it outside of WP.

[2016-02-08 02:25] MurhafSousli commented on #87
I'm using wp rest api to get data for my angular2 app.

[2016-02-08 04:07] rmccue commented on #87
You need to use an alternative library and authentication method to access the API outside WP.

[2016-02-08 04:07] #87 closed

[2016-02-13 13:21] wearevilla opened #88 "Works locally, NOT A FUNCTION remotely! Help!"
Help!
I am using the client-js and making it a dependency for my custom script. Enqueuing everything properly.

It works fine locally, but when I deploy to my server, it spits out an error saying that whatever reference to this client-js is not a function... But strangely, only on the first page load. If I refresh, it works fine. This is crazy!

I need to have this working for a project immediatel

[2016-02-14 19:01] pdme opened #89 "_.contains is not a function"
the method contains was removed in Lodash v4, and replaces by _.includes

https://github.com/lodash/lodash/wiki/Changelog#compatibility-warnings

[2016-02-14 20:55] kadamwhite commented on #89
Contains is still valid in Underscore, which I believe is still what ships with WP Core. `_.includes` should be valid in either though, so I'd be in favor of making the switch to satisfy those who tend to replace underscore with lodash.

[2016-02-15 09:34] joneslloyd opened #90 "Get the current user in JS Client"
Hi there,

This is maybe(?) a special case, and I definitely can't find any documentation for it with regards to achieving this with the JS Client.

I'm wondering how I get the current user's Model?

Do I simply put:

`var current_user = new wp.api.models.Users( { 'me' } );` ?

(I'm guessing that's not the case)

I just can't find an attribute to pass that would allow for the `/me/` part.

Any inf

[2016-02-15 16:34] adamsilverstein commented on #87
@MurhafSousli This library is indeed currently designed to be enqueued from WordPress, however your question brings up an interesting point: can we remove the WordPress dependency?

* For non authenticated requests, this library should work fine without WordPress. I will work on removing the dependency.
* I am currently working on adding support for other authentication methods (oAuth, application

[2016-02-15 16:36] adamsilverstein opened #91 "Remove WordPress dependencies, enable remote enqueue"
As @MurhafSousli points out in https://github.com/WP-API/client-js/issues/87 the current version of this script depends on being enqueued from WordPress. The script would be far more useful if it could be enqueued from anywhere and not require anything from WordPress to be useful.

[2016-02-15 17:09] adamsilverstein commented on #82
Closing in favor of https://core.trac.wordpress.org/ticket/35662

[2016-02-15 17:09] #82 closed

[2016-02-15 18:50] adamsilverstein commented on #90
@joneslloyd Thanks for bringing this up. The 'me' endpoint is a special case and support was broken in the client. I pushed an update to master in https://github.com/WP-API/client-js/pull/92 that corrects the issue.

You can now get the current user model with:

[code]

Can you please test and let me know if this resolves your issue?

[screenshot](http://cl.ly/2z1b151V3f3i/Image%202016-02-15%20at%

[2016-02-15 18:51] #90 closed

[2016-02-15 19:06] joneslloyd commented on #90
Hi @adamsilverstein  - thanks!

When I run this, I get `Uncaught TypeError: wp.api.models.Me is not a function` unfortunately.

I'm just looking over my code again to make sure there's not a mistake.

[2016-02-15 19:10] joneslloyd commented on #90
Doh - I haven't got the latest version - that'd be why. I'm using the beta WP-API wordpress plugin. Can I get the current js client and merge that with the plugin somehow?

[2016-02-15 19:16] adamsilverstein commented on #89
@pdme Thanks for pointing this out, and @kadamwhite thanks for the `includes` suggestion. This will afford the best compatibility between underscore and lodash.

I prepared branch(https://github.com/WP-API/client-js/compare/fixes/includes-not-contains?expand=1) with the changes.

Unfortunately, it looks like the Underscore version bundled with Core only aliases `include`; newer versions also alias

[2016-02-15 19:27] adamsilverstein commented on #90
@joneslloyd - Install this repo as a plugin (using master) and activate it. That should cause the client-js plugin JS library to be loaded vs the WP-API plugin. Let me know if that works, haven't tested in a while :)

[2016-02-15 19:28] joneslloyd commented on #90
Thanks - I'll do that!

[2016-02-15 19:30] adamsilverstein commented on #88
@wearevilla

Happy to try to help! Do you have a test URL where I can see the failed load? can you provide a code snippet shoeing how you are enqueueing the script and using it in your script?

When you get the error, are you seeing it in the debugger console, your server error log or somewhere else? can you give the _exact_ error message you are seeing, and possibly a screen shot.

[2016-02-15 19:48] joneslloyd commented on #90
Works perfectly! Thanks very much :)

[2016-02-15 19:53] wearevilla commented on #88
@adamsilverstein Hey! Thanks for the quick response! Currently the site I was trying this client at is here: http://clients.wearevilla.com/2dm.it

Unfortunately, it is for a client so, to preserve time, I just skipped using the js-client here and used new backbone collections. The whole site is actually powered using the wp-api, with a traditional php fallback for search engines and no-javascript

[2016-02-15 23:34] adamsilverstein commented on #91
This is resolved in https://github.com/WP-API/client-js/pull/93/files

You can now load the script directly with passing a wpApiSettings variable, note that Backbone and jQuery are dependencies (plus Backbone's dependency Underscore or lodash).

You can use something like this:

[code]

[2016-02-15 23:34] #91 closed

[2016-02-15 23:37] adamsilverstein commented on #90
Glad to hear, thanks for bringing up the issue and testing.

[2016-02-15 23:45] adamsilverstein commented on #88
@wearevilla  ok, thanks for trying the library. that looks like a pretty cool project! anyway, please let me know if you have some code to share using the api that isn't working or want some help getting started.

closing this issue for now; please reopen or open a new one if you have an update.

[2016-02-15 23:45] #88 closed

[2016-02-18 10:50] joneslloyd opened #95 "Save (update) User"
Hi there,

Just wondering, is the User Save method available? I'm guessing not(?).

Is there any guidance on how I can add this in myself if it's not created?

Thanks!

[2016-02-18 11:08] joneslloyd commented on #95
It may be that the issue is with trying to save when using the "Me" model..

I manually added "PUT" to the methods available for that model, and it tried to call:
`http://mysite.com/wp-json/wp/v2/users/me/7 `

(ie, appending the user id to the 'me' endpoint)

[2016-02-18 11:12] joneslloyd commented on #95
Just to totally confirm, I think the issue is related to the above.

When I log the methods of the `wp.api.models.User` model to the console, I get:
`["GET", "POST", "PUT", "PATCH", "DELETE"]`

But when I do the same for `wp.api.models.Me` I get:
`["GET"]`

[2016-02-19 16:50] pdme opened #96 "PostMeta missing from wp.api.models"
There seem to be some endpoints missing, that are mentioned in the documentation, e.g. wp.api.models.PostsMeta, or wp.api.collections.Meta.

Have these been removed?

Any other way to manipulate post meta data?

[2016-02-19 17:30] pdme commented on #96
Sorry, didn't have latest version installed.

[2016-02-22 16:11] adamsilverstein commented on #89
An update that we did merge upgraded backbone/underscore, however I'm hesitant to change as this would break compatibility with WordPress 4.4 which otherwise works fine with the library. Holding off on this change until we get to 4.6 or 4.7.  For now lodash users will have to add a line of code to map `contains` to `includes`

[2016-02-22 16:12] adamsilverstein commented on #84
Closing as we have all the parsed details completed for now.

[2016-02-22 16:12] #84 closed

[2016-02-22 18:24] kadamwhite commented on #89
Should that shim be defined locally?
[code]
(may not work, just spitballin')

[2016-02-23 15:22] adamsilverstein commented on #89
Good suggestion @kadamwhite - very forward thinking! That would make the library work with 4.4, 4.5 and lodash. I will add and test. Thanks!

[2016-02-23 16:22] MurhafSousli opened #100 "typings for wp-api.js"
I have an angular2 app with (WP backend), I want to integrate `client-js` in my components files, I got it working temporarily like this:
[code]
but It would be great to have type definition for it.
[code]

Thanks.

[2016-02-23 21:30] #89 closed

[2016-02-23 21:31] adamsilverstein commented on #89
@pdme I added a shim and changed to using _.includes in https://github.com/WP-API/client-js/pull/101 so the library should work with lodash now.

[2016-02-23 22:53] delphinus35 commented on #100
`client-js` is not a *module* and has no typings in itself or DefinitelyTyped. So typings should be prepared by other way. I'm also developing app with TypeScript (not Angular2), and have researched about this.

1. There is typings already [here][repo1] and [here][repo2]. But this is too old to use with latest `Backbone.js` typings. I update this and created new typings in [here][repo3], but it is

[2016-02-24 00:01] adamsilverstein commented on #95
@joneslloyd

Thanks for the bug report. The Me endpoint is indeed a special case; I will look into this more. Do you have a code snippet you can share so I can see exactly what you are trying to do? Thanks.

[2016-02-24 08:06] joneslloyd commented on #95
No problem!

I don't have a particular snippet of code, rather, I'm trying to perform general actions..

For example, my set up is that the user logs in, and from then, they interact with a single page app in Backbone JS using WP-API.

They're able to update their first name / last name / email address / website, but currently I'm having to Extend the WP-API User (Me) model with my own, override t

[2016-02-25 15:22] adamsilverstein commented on #95
@joneslloyd thanks for explaining.

I'll take a look at the Me model to see if there is anything I can do to improve that experience. I agree it should behave more like a regular user model,part of the issue is that Me is a special case in the API currently.

Have you tried this (still an extra step, but maybe cleaner): get the Me model, then create a new user model based on the me model's attribu

[2016-02-25 15:25] adamsilverstein commented on #100
@MurhafSousli & @delphinus35

Thanks for bringing this up and working on it.

Happy to help out here with testing or any changes you suggest; my knowledge is limited.

[2016-02-25 15:27] adamsilverstein commented on #77
@rayhooker Are you still having this issue or were you able to resolve it? We recently resolved some issues with saving and changes to the API, can you retest and if this issue still remains, please re-open this issue?

Thanks.

[2016-02-25 15:27] #77 closed

[2016-02-25 16:23] adamsilverstein commented on #80
This is fixed/updated in https://github.com/WP-API/client-js/pull/99 and https://github.com/WP-API/client-js/pull/103

[2016-02-25 16:23] #80 closed

[2016-02-25 16:48] adamsilverstein commented on #95
@joneslloyd I tested this a bit more. The underlying issue is that the `Me` endpoint only supports `GET` so the client correctly doesn't allow saving to this endpoint. I think this is expected behavior :(

I found this approach worked: fetch the Me endpoint, create a User model from the returned model, edit and save that model. something like this:

[code]

I would consider a PR to change the Me m

[2016-02-25 16:48] #95 closed

[2016-02-26 18:37] adamsilverstein commented on #81
WIP: https://github.com/WP-API/client-js/tree/features/oauth1-support

[2016-02-27 10:49] MurhafSousli opened #104 "how to modify request to get embedded posts"
Hi, in my typescript project I get the recent posts like this:
[code]
but I couldn't know how to modify the request since these are the options
[code]
I would like to know how can I get the posts embedded (with featuredImage, tags and cats), and also how to get the posts from specific type.
Thank you

[2016-02-27 13:15] pdme opened #105 "log in / out?"
I don't seem to find any documentation or anything in the code that supports logging a user in and/or out.

Is this supported in the JS client? Should it be?

[2016-02-27 14:07] rmccue commented on #105
This isn't supported in the API itself, and we don't plan on supporting it, as the process is inherently non-RESTful.

[2016-02-27 14:07] #105 closed

[2016-02-28 17:00] joneslloyd commented on #95
Hey @adamsilverstein - Thanks for getting back to me!

That looks like an interesting  solution, thank you!

I didn't know that the endpoint only supports GET actually (but that explains it). Thank you!

[2016-02-28 22:13] adamsilverstein commented on #104
@MurhafSousli

For embeds try this:

[code]

Hope this helps.

for the second question, what exactly do you mean by a _specific type?_ the options you get are the same ones exposed by the API. Note that with `filter`you can use WP_Query arguments, see http://v2.wp-api.org/reference/posts/

[2016-02-29 14:39] MurhafSousli commented on #104
Yes, it worked, I meant for instance I want to get all the posts of type `project` but now I think I understand how it works, thanks a lot.

[code]

[2016-02-29 14:56] adamsilverstein commented on #104
yep! you got it @MurhafSousli

If you project is/becomes public, please share its url as I am collecting a list of sites/projects using the library.

Thanks!

[2016-02-29 14:56] #104 closed

[2016-02-29 21:29] eriktdesign opened #106 "wp.api.collections.Posts is not a constructor"
I'm having some trouble getting my posts-fetching script to work consistently. On an initial pageload, I get a `Uncaught TypeError: wp.api.collections.Posts is not a constructor` -- however, on subsequent pageloads, it works fine. Here's some of my code:

[code]

I'm enqueueing this file with wp_enqueue_scripts with `wp-api` and `wp-utils` as dependencies. Any idea what I'm doing wrong here? I'm g

[2016-03-01 22:49] MurhafSousli commented on #104
:) https://github.com/MurhafSousli/ng2-wordpress-theme

[2016-03-02 09:31] bakken commented on #106
Running into the same problem. It’s not happening on my local server, but on first load on the staging server. Disabling browser cache does not change this.
Logging the wp.api to console will show that wp.api.collections or wp.api.models has not been populated yet.
You might want to try the recent version of [client.js](https://github.com/WP-API/client-js/blob/cd4ca15cb00a0b85247f9c97210c8ee64790d

[2016-03-02 20:24] adamsilverstein commented on #81
Here is what this looks like currently:

![screencast](http://cl.ly/1e1k0w1g123x/Screen%20Recording%202016-03-02%20at%2001.18%20PM.gif)

[2016-03-02 20:39] adamsilverstein commented on #104
Cool, thanks.

[2016-03-03 03:43] MurhafSousli commented on #106
Have you tried if statement?
[code]

-----------------------
I'm sorry, I don't want to distract, but I'm just wondering what does this line actually do
`var excerptTemplate = wp.template("excerpt");`

[2016-03-03 05:30] kadamwhite commented on #106
@MurhafSousli `wp.template` is a WordPress JavaScript helper to make it easier to use Underscore templates embedded in the page HTML; see [more information on `wp.template` in the codex](https://codex.wordpress.org/Javascript_Reference/wp.template)

[2016-03-03 18:38] eriktdesign commented on #106
So I tried what @bakken suggested and pulled in the more recent versions of the js files from the repo. Then I wrapped all my toys in this:

`$.when(wp.api.loadPromise).then( function() { // do stuff! `

This seems to do the trick -- am I doing it right? This is my first time messing around with promises...

[2016-03-04 03:39] adamsilverstein commented on #106
@eriktdesign that works... also
(with the version in master) you can use:

[code]

Note:

the api is loaded asynchronously so we need to wait for it. if the schema is not localized or cached, an ajax request needs to complete to grab it before building the models/collections. if you localize the schema (this plugin does), the promise will resolve immediately.

[2016-03-04 16:44] eriktdesign commented on #106
@adamsilverstein I initially tried it that way, but I got the error "wp.api.loadPromise.done() is not a function" or something like that... Or maybe it was "wp.api doesn't exist"

[2016-03-07 04:19] adamsilverstein commented on #106
that should only happen if the api script failed to load. you have it working now?

[2016-03-08 23:13] kjbenk opened #108 "QUnit: I am unable to complete a successful test using `grunt test`"
How to Replicate:

1. From the command line perform the `npm install` and `nam run build` commands

I got an output like this within my `npm-debug.log` file

[code]

When I tested within he browser the tests seemed to work just fine, so the error must be within the command line.

![Browser Testing](https://cldup.com/FRZAVFLZSq.png)

[2016-03-09 02:29] adamsilverstein commented on #108
Can you try running the tests with:

`grunt qunit`

check that gruntfile points to your local install correctly.

[2016-03-09 02:37] adamsilverstein commented on #106
closing as resolved, please reopen @eriktdesign if you still have issues.

[2016-03-09 02:37] #106 closed

[2016-03-09 02:37] kjbenk commented on #108
Ok I was able to get the tests to run via the command line by editing this line within  `/Gruntfile.js`.  Just like you mentioned I needed to change the url from:

`http://localhost:80/wp-content/plugins/client-js/tests/tests.html`
to
`http://local.wordpress.dev/wp-content/plugins/client-js/tests/tests.html`

since I am running it on a VVV env.

The tests are still failing however so I will keep t

[2016-03-14 05:00] MurhafSousli opened #109 "couple of questions about usage"
Hi, first of all thank you for the great job you do in this library, I'm currently using only `Collections` to get everything I need from wordpress, but there are some things I want to confirm.

What I understood till now:

-  **Load** is for wp authentication.
-  **Collections** is used to fetch data from wp.
-  **Models** is used for Create/Update/Delete operations.
-  **Utils** has the utility

[2016-03-14 05:13] kadamwhite commented on #109
@MurhafSousli I need to turn in for the night but I'll try to review this Monday or Tuesday my time—thanks for the questions! If you haven't heard from me in 3 days feel free to bump this issue.

[2016-03-14 05:24] MurhafSousli commented on #109
@kadamwhite I thought he changed his picture lol

[2016-03-18 23:29] adamsilverstein commented on #109
Hello @MurhafSousli,

Glad to hear you are using the library.

The main thing this library provides are Models and Collections matching all the _endpoints_ available in the WP-API.

A Model represents a single item in the API and WordPress, for example a Post.

A Collection is a group of models, for example a collection of posts.

Util and Load are primarily for internal functions, I don't think y

[2016-03-18 23:29] #109 closed

[2016-03-19 06:47] MurhafSousli commented on #109
Thank you so much.

[2016-03-21 18:35] benoitmercusot commented on #106
Hi everyone. Any workaround with the REST V2 current plugin version ?

[2016-03-22 16:45] christill commented on #106
I'm having the exact same issue. I'm able to use the API to fetch collections etc. But cannot call getCategories or anything similar.

`wp.api.loadPromise` doesn't seem to exist.

[2016-03-22 17:09] christill commented on #106
I've uploaded the Master into the plugin and wp.api.loadPromise now exists. However, now I get
`Uncaught TypeError: b.getCategories is not a function` when I try `post.getCategories();`

[2016-03-22 17:16] christill opened #110 "Get category of each item return from collection"
When trying to call `getCategories()` on a model within a collection it return the error:
`a.at(...).getCategories is not a function`

If i wrap the first result of the collection in a new model. it works. Is it necessary to create a new model for each item returned from a collection or am I doing something wrong?

Thanks

[2016-03-23 14:25] adamsilverstein commented on #110
@christill

It sounds like you are using an outdated version of the library.

Can you make sure you are using the latest code from this plugin? Install this repository as a plugin, then make sure SCRIPT_DEBUG is on in wp-config.

If it still fails, can you share a code block so I can see what you are trying? Thanks.

[2016-03-23 14:26] adamsilverstein commented on #108
Noting that all tests pass for me.

[2016-03-23 14:27] adamsilverstein commented on #106
Based on your comments I don't think you have the latest version loading.

Make sure SCRIPT_DEBUG is on to have this plugin load its code over the bundles code with the WP-API plugin.

I will work on a PR to get the main repo updated.

[2016-03-25 17:03] pdme commented on #96
reopening.

I'm running the latest versions of both the rest-api plugin (2.0-beta12) and client-js, and endpoints like wp.api.models.PostMeta are missing.

any thoughts?

[2016-03-25 17:14] danielbachhuber commented on #96
Yes, they were removed in beta12. You'll need to install the meta endpoints plugin https://github.com/WP-API/wp-api-meta-endpoints

[2016-03-25 17:19] pdme commented on #96
ah, that explains. thanks!

[2016-03-25 17:19] #96 closed

[2016-03-28 14:24] adamsilverstein commented on #96
@pdme once you add the additional endpoint plugin the models/collections should reflect whats available. if you see any additional issues, please open a new issue. Thanks.

[2016-03-28 16:14] adamsilverstein opened #111 "Update client documentation"
Add/update info on:

- loadPromise
- localizing schema
- category helpers
- reading a single post

[2016-03-29 01:00] rmccue opened #112 "Dates cannot be passed as ISO-formatted strings"
In TimeStampedMixin, [datetime attributes are assumed to be Date objects](https://github.com/WP-API/client-js/blob/8d0d955307edb475ca6834c893e8257b116d1b02/js/utils.js#L232-L235). This fails if the date passed in is an ISO string.

This needs to check `attributes[ key ] instanceof Date` instead.

[2016-03-29 07:17] corky7 opened #113 "Example not working"
Hi!

Thanks for your nice plugin. It looks very promissing. Although it seems that the first example doesn't work - probably I have an issue on my environment?

[code]

When I run it, it states error
`Uncaught TypeError: wp.api.models.Posts is not a constructor(…)`

I have properly (I think) setup script for this
` wp_register_script('gb_scriptv2', plugins_url('../js/script_v2.js', __FILE__ ), arr

[2016-03-29 16:27] adamsilverstein commented on #113
@corky7

Thanks for trying the client library. The docs are out of date and the Post model is now at `wp.api.models.Post` (singular instead of plural). I will update the docs!

[2016-03-29 16:31] adamsilverstein commented on #113
looks like our docs got out of sync, the docs on the main wp-api docs site show the correct usage: http://v2.wp-api.org/extending/javascript-client/

[2016-03-29 17:04] adamsilverstein commented on #111
fixed locally in https://github.com/WP-API/client-js/pull/114

[2016-03-29 17:10] adamsilverstein commented on #111
Submitted PR to docs repo: https://github.com/WP-API/docs-v2/pull/135

[2016-03-29 17:10] #111 closed

[2016-03-29 17:10] adamsilverstein commented on #113
I have updated the docs here and submitted a pull request to update the main docs site: https://github.com/WP-API/docs-v2/pull/135.

Please let me know if you have any additional issues @corky7

[2016-03-29 17:10] #113 closed

[2016-03-29 17:17] adamsilverstein commented on #112
@rmccue - I assume this is for creating a new post/object?

I'm not sure allowing a string date here is a good idea... I think the assumption is that a date object is provided: on the parse side when you retrieve a post, we are taking the returned strings and parsing them to dates. If we allow a string date here, won't you wind up with some posts with string dates and some with Date object dates (

[2016-03-29 17:20] adamsilverstein commented on #110
@christill

You will find the latest changes in the WP-API plugin now, and getCategories should work  correctly. Please note that this function returns a promise because the function may need to make an ajax request to complete. I updated the docs to reflect this, you can use as follows:

[code]

Please re-open or ping me in slack rest-api room if you are still having trouble.

[2016-03-29 17:20] #110 closed

[2016-03-30 05:30] corky7 commented on #113
Thank you, @adamsilverstein !

[2016-03-30 14:27] corky7 opened #117 "Using the client-js library"
Hi @adamsilverstein !

Thanks again for your lib and answering the question.

Now everything works fine. My current question can be dumb, but if possible, please answer.

What is
`wp.api.models.User`

in terms of Backbone? Is it already a model? But why I can't instantiate & bind it to view

[code]

Similar code works for the model I have created manually

`		var Person = Backbone.Model.extend({

[2016-03-30 15:53] corky7 commented on #117
Actually I sorted it out myself.
In case this would be useful for someone.

I did the following:

[code]

And yes, the lib's model is the model

[2016-03-30 15:53] #117 closed

[2016-04-04 22:53] adamsilverstein opened #118 "Add support for JSON Web Token (JWT) Authentication"
JSON Web Tokens are an open, industry standard RFC 7519 method for representing claims securely between two parties. We should support them with or JS client!

[2016-04-11 11:54] hyheg commented on #117
@adamsilverstein Can you give an example of extending the models - for example wp.api.models.Post?

[2016-04-11 22:58] adamsilverstein commented on #117
@hyheg Sure! I created this codepen to demonstrate what I am talking about. You could add helpers to get or save data, or to preprocess data before/after syncing to the server.

Here is an example: I add a helper function to make getting a posts display data easier. I create a `SpecialPost` object that has a helper function for `getPostData`. I'm using extend here to conveniently mix in my helper,

[2016-04-12 07:21] hyheg commented on #117
Makes sense. Thanks for the example and the library!

[2016-04-14 01:48] adamsilverstein commented on #117
@hyheg You are welcome; if you build something cool, please share it! If you find a bug, please let me know!

[2016-04-19 03:29] rmccue commented on #112
This seems to be occurring when you create the objects from JSON yourself, i.e. on page load by using `Posts.reset( data )`. In this case, it's raw data from the API, but not gathered through `Post.fetch()`, so it never gets coerced to a Date object.

[2016-04-21 20:14] hyheg commented on #117
@adamsilverstein Sorry to open this again, but I found that using Backbone, I need to apply custom defaults to the model in collection wp.api.collections.Posts. Does client-js allow me to inherit from an extended model (or override its defaults somehow)?

[2016-04-25 12:16] hyheg opened #119 "Extending the models for a collection"
In the README, it says

I'm working on making a WP-API powered Backbone app - and using the standard wp.api.collections.Posts(), I'd like to extend the collection's model defaults (wp.api.models.Posts.defaults?) and somewhat adhere to the syntax of Backbone at the same time.

Normally, I'd do something like this:

[code]

Could you suggest how to add to the defaults of the model used in the client

[2016-05-04 11:47] hyheg commented on #106
I get this error using the REST V2 API and the latest master of client-js.

Even though I'm using the `wp.api.loadPromise.done` function, I get the error
`Uncaught TypeError: Cannot read property 'extend' of undefined`

I'm trying to extend `wp.api.collections.Posts` as a Backbone module. Is there any way
I could extend `wp.api.collections.Posts` before calling fetch on the extended model (eg. wai

[2016-05-08 13:19] pdme opened #120 "How to update user meta?"
Is it possible to fetch the current user (new wp.api.models.Me()), and embed all user meta, as seems to be the case for posts?

[2016-05-08 18:32] pdme commented on #120
If not, how do I go about saving user meta data?

[2016-05-10 19:57] pdme commented on #120
Just so I know I'm on the right path (or not). This is how I update user meta now:

[code]

This works, but seems cumbersome if you have many entries to update. Is there a better way?

[2016-05-11 00:14] nathanaelphilip commented on #106
Getting this error as well. Running latest version of plugin, etc.

[2016-05-11 00:27] nathanaelphilip commented on #106
[code]

Made changes in wp-content/plugins/rest-api/extras.php and it works

[2016-05-11 02:07] adamsilverstein commented on #119
@hyheg I agree, some better documentation would be helpful, please contribute back there if you are able.

You can extend the collections or models just like the Backbone prototypes:

[code]

[2016-05-11 02:07] #119 closed

[2016-05-11 02:09] adamsilverstein commented on #112
That seems like a reasonable use case, I will add a check to avoid assuming we always have a date object. It would be nice to have a unit test for this case as well.

[2016-05-11 02:12] adamsilverstein commented on #81
Although it was interesting developing the oauth support, I'm leaving this out of the codebase until/unless oauth becomes part of core. In the mean time, i'll leave the branch published in case its useful for someone; this could be added as an extension or plugin at a later date.

Closing for now.

[2016-05-11 02:12] #81 closed

[2016-05-11 02:22] adamsilverstein commented on #120
@pdme You are on the right path!

Once you have the userMetaCollection fetched, you can update the model data (using set, and findWhere if you need it is fine). You may be able to save your entire collection by extending backbone collection to save, but i haven't tested that; see some sample approaches here: http://stackoverflow.com/questions/6879138/how-to-save-an-entire-collection-in-backbone-js

[2016-05-11 08:50] hyheg commented on #106
@nathanaelphilip Could you wrap that up in a pull request? I temporarily gave up on client-js because of this error.

[2016-05-11 11:18] nathanaelphilip commented on #106
@hyheg it’s already in the master branch. You can just copy what’s in the `client-js.php` file.
It seems they haven’t put it into the WP plugin yet.

[2016-05-11 11:23] hyheg commented on #106
Cool, can we maybe put an update in the readme doc? I think that it would help noobs and get more people to try it out (eg. I think it would make it easier / faster to discover errors like these).

[2016-05-11 11:33] nathanaelphilip commented on #106
@adamsilverstein ^

[2016-05-17 14:03] hyheg commented on #118
Haven't tested this, just FYI: https://github.com/Tmeister/wp-api-jwt-auth

[2016-05-22 23:40] rinatkhaziev opened #122 "sessionStorage.setItem throws exception in Safari private mode"
Hi,

The issue is that even though sessionStorage available in private mode, disk writes are prohibited and Safari throws
[code]

See https://github.com/WP-API/client-js/blob/master/js/load.js#L59

The solution would be to either try to catch exception or use some sort of fallback (for example, https://github.com/Download/memorystorage)

[2016-05-26 13:48] adamsilverstein commented on #118
@hyheg thanks for the link, this will be really helpful for the server side of things. still needed here would be adding support or at least docs into the client library.

[2016-05-26 13:53] adamsilverstein commented on #106
Hey @nathanaelphilip & @hyheg Thanks for the issue report here, sorry I missed the conversation. So to clarify, the issue here is that if the schema is not localized, you are getting a console error on the first load (then it works on subsequent loads)? is that right?

The library is supposed to detect if the schema is available and if not, load it asynchronously.

if you follow the pattern in the

[2016-05-26 13:54] adamsilverstein commented on #122
@rinatkhaziev thanks for opening the issue, I will work on addressing it.

[2016-05-26 13:55] adamsilverstein commented on #120
Closing as resolved for now, please reopen if you are still having this issue.

[2016-05-26 13:55] #120 closed

[2016-05-26 14:16] nathanaelphilip commented on #106
i honestly don’t remember the exact issue, but it was like the loadPromise wasn’t resolving properly, so my code wasn’t executing when it needed to – or maybe I was just doing it wrong...

[2016-05-26 14:33] #112 closed

[2016-05-26 14:47] adamsilverstein commented on #106
I tested this and it works as expected. Localizing the schema is fine, however please note that the schema data is included with each request, if possible I would only pass it once, then cache in the browser.

I tested this code snippet with the schema NOT localized and clearing sessionstorage, it works as expected:

[code]

[2016-05-26 15:47] #122 closed

[2016-05-26 15:54] adamsilverstein commented on #108
@kjbenk can you try running the tests with the command `grunt qunit`? These tests work fine for my local setup:

![tests](http://cl.ly/3Z103O1o1P1i/1._adamsilversteinAdams-MacBook-Pro-2_repositoriesclient-js_zsh_2016-05-26_09-54-00.jpg)

[2016-05-26 15:56] adamsilverstein opened #125 "Get tests running in Travis"
Need adjust the build to install wp & the plugins before testing.

[2016-06-08 03:35] akhanukov opened #126 "Question about running plugin on a different server than WordPress"
Awesome plugin/library! Thank you!

I have a node application on a different server from my WordPress instance running WP-API. I hit the endpoints from the application because I set it up before I found this project and see that the JS libraries could have been helpful. However, I'm wondering if I can run this plugin on my MEAN stack server and enqueue it in my child theme functions file from my P

[2016-06-08 12:55] kadamwhite commented on #126
@akhanukov Thanks for the question! I'm not sure I fully understand your system and your use-case, can you clarify slightly? The constructs this library provides are broadly useful, but it is primarily intended for use enqueued from within a WordPress context, such as a plugin or theme. Other projects like [this npm package](https://github.com/kadamwhite/wordpress-rest-api) I'm working on are desi

[2016-08-03 18:21] peterigz opened #131 "Pagination links"
I'm wondering what my options are for generating pagination links when using backbone to fetch data. I'm working on a woocommerce project and have product filters working with rest api nicely, but obviously if you filter the products the number of pages will change so the pagination links on the page have to be updated. Post collection gives you the current page, total pages etc., it would be nice

[2016-08-08 02:27] JasonTheAdams opened #132 "Backbone Model structure differences in fetch and save"
As I work more and more with the JS client, I find that it's pretty awkward how things like content/title change depending on whether they're being saved versus fetched. The title, for example, is fetched as an object with raw and rendered properties. On the other hand, when saved it's supposed to be a string.

Especially when taking advantage of collection and model events, the structure of the m

[2016-08-10 22:32] adamsilverstein commented on #132
Hi @JasonTheAdams!

Thanks for the feedback and for using the client. I see you originally opened this ticket on the main plugin repo: https://github.com/WP-API/WP-API/issues/2643 and you may wind up back there :)

Currently the WP REST API itself returns the title (content as well) as an object, as you described with `rendered` and `raw` data points. The API expects, however, titles as strings. S

[2016-08-10 22:36] adamsilverstein commented on #126
While the client can be used to connect to remote API's it is designed primarily to be run from WordPress and to connect to the WP REST API as kadamwhite describes.

Thanks for the feedback!

[2016-08-10 22:36] #126 closed

[2016-08-10 22:43] JasonTheAdams commented on #132
Hey @adamsilverstein!

Thanks for the feedback. Regarding the events I'm listening for, I'm listening to both `sync` in one place and `title:changed` in another. I'm using `sync` for retrieving the models from the collection, and `title:changed` for when the user changes the title in one place and I want it to be reflected in another.

But yeah, I wondered where this really belonged. I appreciate

[2016-08-10 22:46] BE-Webdesign commented on #132
Yup this definitely probably does belong in the main API discussion.  My bad.

[2016-08-10 22:51] JasonTheAdams commented on #132
Moved this back to WP-API.

[2016-08-10 22:51] #132 closed

[2016-08-23 16:28] peterigz opened #133 "currentPage should be set to the "paged" filter variable"
If you fetch a post collection and use the "paged" filter variable to get a certain page, then when using .more() it will fetch the same page over and over again because the request['filter'] variable is merged with the $args variable in the rest controller WP_REST_Posts_Controller::get_items therefore overwriting/ignoring the request['page'] value.

So I think that the state.currentPage should be

[2016-08-24 03:08] adamsilverstein commented on #132
@JasonTheAdams also worth noting (and I just noticed) that Backbone will trigger a change event after the sync/save if the api returns different data than is sent in.

[2016-08-29 02:31] pcfreak30 opened #135 "AMD Support"
Library should be making use of https://github.com/umdjs/umd/blob/master/templates/commonjsStrict.js

It also needs to define backbone as a dependancy

[2016-08-29 20:33] adamsilverstein commented on #135
@pcfreak30 Thanks for the feedback and PR, I'll take a look.

This library is currently designed as a WordPress plugin and is part of the https://github.com/WP-API/WP-API plugin. The backbone dependency is taken care of in the wp_enqueue: https://github.com/WP-API/client-js/blob/master/client-js.php#L17

[2016-08-30 00:46] pcfreak30 commented on #135
@adamsilverstein if thats the case it should not even have a package.json, though I do need it. Im using this in WP, but im making use of browserify. See #136.

[2016-09-06 14:25] adamsilverstein commented on #135
`package.json` is used by the grunt build process. lets continue discussion on the pull request; thanks.

[2016-09-06 14:25] #135 closed

[2016-09-08 15:46] BE-Webdesign opened #137 "Issue with dates."
In reference to https://github.com/WP-API/WP-API/issues/2019. There are strange things that happen with dates and timezones.  I have experienced this myself using wp-api.js

[2016-09-08 17:14] nikolov-tmw commented on #137
@BE-Webdesign asked me to post about this here as well.

I think the easiest way to reproduce the issue is to have your computer's timezone(and that of your browser respectively) be different than the timezone of your server(or is it the WordPress install? - I can't say for certain).

That's when weird stuff happens. And I guess it really isn't that weird, because there's just a mismatch of the ti

[2016-09-26 14:50] adamsilverstein commented on #137
@nikolov-tmw thanks for raising this issue.

I agree this is going to cause some unexpected results for users and needs better support, documentation and testing. One issue I think we have currently is the client has no way of knowing what time zone the server is in. Without this information the client is assuming UTC when it creates a Date object from the returned timestamp. If the API gets updat

[2016-09-26 14:52] adamsilverstein commented on #133
Thanks for raising this issue @peterigz this does indeed look like a bug. Could you work on a fix based on your workaround?

[2016-09-26 20:41] nikolov-tmw commented on #137
@adamsilverstein I'm curious how this seems to have slipped past most people(not blaming anyone here, just curious 😃 ).

Just a minor correction though - in my experience the Date object seems to be created in whatever timezone the user's browser(OS) is. For instance on my end when I do this(a random date from an API response):

`new Date( '2014-07-04T01:41:57' )`

I get this in the console:

`Fri

[2016-09-26 21:10] rmccue commented on #137
Try tacking a `Z` on to the end of the string you're passing into the Date constructor.

We don't specify any timezone as a deliberate decision, since we cannot be authoritative; the JS client needs to handle this itself when parsing.

[2016-09-26 21:53] nikolov-tmw commented on #137
Like so: `new Date('2014-07-04T01:41:57Z')` ? Still the same result - `Fri Jul 04 2014 04:41:57 GMT+0300 (Eastern Europe Daylight Time)`(in Chrome's Developer Tools Console).

I can see where you're coming from and I'm personally ok with it. However I think this should be better documented(I don't remember seeing it being mentioned anywhere back when I stumbled across the issue at first) and it sh

[2016-09-26 22:03] westonruter commented on #137
@nikolov-tmw:

This shows that it is working. Notice how you entered `1:41:57` UTC and got back a time that is 3 hours later at `04:41:57` which corresponds to your local timezone offset at GMT+0300. It's Chrome's dev tools that is outputting a local time, but the `Date` object itself has the expected value.

[2016-09-29 23:38] JasonTheAdams opened #138 "Model being created for post type but not collection"
Hello!

I'm having an odd bug with a post type that's registered the API. The model is showing up in `wp.api.models` but the collection is not. I'm getting an error when trying to extend it and when I look for it in the console it's clearly not there. I've cleared the sessionStorage and everything but the collection just isn't being added.

Any idea what may be causing this?

[2016-09-30 04:43] kadamwhite commented on #138
Thanks for opening the issue. is this concerning a post type that is set to show in rest, or are you registering your own rest route?

[2016-09-30 14:38] JasonTheAdams commented on #138
Hi @kadamwhite Yup, it's a custom post type that's set to `show_in_rest`. It does show up in the endpoints just fine, as, like I said, does the model. Aside from the collection not being generated, it appears to be working.

[2016-09-30 20:02] JasonTheAdams commented on #138
I believe I figured it out, although I'm not sure if this is intentional or a bug.

When I registered the post type I had `show_in_rest` but omitted `rest_base`. According to the [WordPress documentation](https://codex.wordpress.org/Function_Reference/register_post_type) the `rest_base` defaults to the post time. I felt that was fine so I left it out.

So here's where it gets interesting. If I add

[2016-09-30 20:17] kadamwhite commented on #138
As [discussed in slack](https://wordpress.slack.com/archives/core-restapi/p1475265957004707) this sounds like a bug, a reduced test case in the form of a simple plugin that creates & registers a post type and a JS script demonstrating the omission would help to replicate & diagnose. Adam S is taking a look at this issue.

[2016-09-30 20:18] adamsilverstein commented on #138
Can you provide some sample sample code for your post type setup? I've always set up custom post types with `show_in_rest` and haven't tested using `rest_base`.

[2016-09-30 20:45] JasonTheAdams commented on #138
Just made a pull request for this: #139

[2016-10-12 13:21] adamsilverstein commented on #137
@nikolov-tmw

Thanks for raising this issue! I was able to readily reproduce the issue as you described, by setting my computer's timezone to something different than the server. As you mention, loading and saving a post from the API with no changes in this situation changes the stored date on the post.

I'm still not certain how this happens, when I look at the data sent and returned from the API

[2016-10-12 17:03] nikolov-tmw commented on #137
@rmccue

Actually, I still think there's an issue with how the API works regarding date handling. At the very least it differs than the way that `wp_insert_post()` works. Here's an example(latest version of WordPress, timezone set to UTC+3, the REST API plugin and the client library, with Twenty Fifteen).

In functions.php I added the following bit of code:

[code]

This creates a new post with a

[2016-10-14 21:18] adamsilverstein commented on #137
@nikolov-tmw I have a fix for this: https://github.com/WP-API/client-js/pull/140 I'll build in develop if you would like to test that would be great!

[2016-10-15 00:33] nikolov-tmw commented on #137
@adamsilverstein I can confirm that this fixes the issue with fetching and saving the post without adjusting the date.

I also see where the root of the problem is coming from in my previous example. The API expects GMT dates, and not dates in the site's timezone. By passing a datetime string in the site's timezone, the JS library can't turn my date into a UTC date when converting to JSON before s

[2016-10-16 15:44] adamsilverstein commented on #137
@nikolov-tmw I think I am going with a different approach you can test in develop or review my changes in this PR: https://github.com/WP-API/client-js/pull/141

basically, I am no longer auto processing date fields when you fetch or save models to the API. Instead, i have introduced two helpers on the models `getDate` and `setDate` that provide the same transformations if you want them (you could

[2016-10-17 05:42] rmccue commented on #137
`date` should definitely be in the site's timezone when you send it to the server, not UTC. If that isn't the case, it's definitely a bug.

[2016-10-17 14:50] adamsilverstein commented on #137
@rmccue Worth investigating this a bit further as it may be a bug on the API side. I can try to write some unit tests to check. In my testing retrieving a post and saving it with the client, the date worked if I created the JS Date object from `date_gmt` and sent that back. If I used `date`, the post time would get offset by the difference between the server's timezone and UTC (5 hours in my case)

[2016-10-18 20:35] Shelob9 opened #142 "Revisions could be documented better."

[2016-10-25 12:25] adamsilverstein commented on #133
I moved this ticket to trac for further discussion: https://core.trac.wordpress.org/ticket/38484#ticket

[2016-10-25 12:25] #133 closed

[2016-10-25 12:31] adamsilverstein commented on #142
Thanks, merged.

[2016-10-25 12:31] #142 closed

[2016-10-25 12:32] adamsilverstein commented on #138
Closing as resolved, thanks.

[2016-10-25 12:32] #138 closed

[2016-10-25 12:33] adamsilverstein commented on #137
Closing this as resolved, I addressed this in the client by removing the default date transformation, moving them to helper methods instead.

[2016-10-25 12:33] #137 closed

[2016-10-25 12:39] adamsilverstein commented on #131
Hey @peterigz - thanks for the request.

I am cleaning out this repo now that the client is merged to core. Were you able to get the functionality you wanted here? The client only provides models and collections and does not address VIews/display in any way. You should be able to generate pagination links based on the information contained in the collection state...

You will see data points for c

[2016-10-25 12:39] #131 closed

[2016-10-25 12:40] adamsilverstein commented on #125
Closing for now, I will work on getting the tests running in core.

[2016-10-25 12:40] #125 closed

[2016-10-25 12:41] adamsilverstein commented on #118
Closing for now, if you are still interested in working on this @hyheg we can mopve the work to trac (the client has been merged to core).

Thanks!

[2016-10-25 12:41] #118 closed

[2016-10-25 12:43] adamsilverstein commented on #100
The plugin JS code is now merged to WordPress core where this effort may not be needed? In any case I am going to close this ticket out.  @MurhafSousli feel free to fork the plugin if you need this support, or open a ticket in WP core trac if you feel this change would be useful there.

Thanks.

[2016-10-25 12:43] #100 closed

[2016-10-25 12:44] adamsilverstein commented on #108
Closing this out as the code has merged to WordPress core. I will work on getting these tests running in wp core.

[2016-10-25 12:44] #108 closed

[2016-10-25 15:13] peterigz commented on #131
Thanks, I've been meaning to look into this (and the other regarding currentPage), but haven't had the chance, but will do soon as it's part of the theme I'm developing so will let you know how I get on. Good to see it merged into core :)

[2016-11-11 19:40] tenold opened #144 "How to get Category data for each post in postsCollection"
If I do this:

[code]

I'm only seeing the category id returned in the attributes object for each post.

Is there a way to include all category data there? Or from that point, when I'm looping over postsCollection, how do I get the category data for each post?

I tried doing this:

[code]

But this is giving me `post.getCategories is not a function`.

Any insight here? Basically I'm just trying to

[2016-11-15 20:02] Neofish22 commented on #144
Hi. I'm having a similar issue. I noted that [this closed issue](https://github.com/WP-API/client-js/issues/110) discusses the same problem as @tenold, but asserts that the latest version should work. Iirc the latest version at that time was the current version (2.0-beta15).

My issue is that any of these getSomething() functions that part of Post are not found, when using models from a collection

[2016-11-20 15:55] lucasstark opened #145 "Allow API to use multiple endpoints at the same time"
If you need to talk to more than one endpoint the way the api is initialized does not make this straight forward.

It seems like it should be possible, since wp.api.endpoints is a collection of each unique endpoint you might initialize, however,  the collections and models on each endpoint will be overwritten each time you call wp.api.init, so obviously we need a solid way to initialize more than

[2016-12-04 20:34] adamsilverstein commented on #144
@tenold @Neofish22 - Thanks for reporting this issue.  @jesseenterprises and I worked on this issue at WCUS contributor day and have a fix in place here:

https://core.trac.wordpress.org/ticket/39070

Can you please give the patch on this ticket a test and verify it resolves the issue you were seeing?

Thanks!

ps. Development of this client is moving to core, closing this ticket out.

[2016-12-04 20:34] #144 closed

[2016-12-04 20:35] adamsilverstein commented on #110
@christill when working on another issue I revisited this issue and realized we didn’t actually solve the issue you were experiencing. We did manage to fix it in WordPress core where development is continuing. If you have a moment, can you try out the patch on https://core.trac.wordpress.org/ticket/39070 to see if it resolves the issue.

[2016-12-05 10:38] Neofish22 commented on #144
@adamsilverstein Thanks Adam. I have just updated to 4.7 and applied the patch. The models do now have the proper prototype. :)

[2016-12-06 20:21] adamsilverstein commented on #144
Great!  Will likely get this in for a 4.7.1 release. Thanks for testing.

[2017-01-09 09:44] Kn4ppster commented on #144
I've pulled the latest build of wp-api.js from master which appears to include this patch however I'm still receiving the 'getCategories is not a function' error.

`wp.api.loadPromise.done(function() {
    var posts_collection = new wp.api.collections.Posts();

    posts_collection.fetch({
        data: {
            per_page: 6
        }
    }).done(function(posts) {
        posts.forEach(functio

[2017-01-12 14:19] adamsilverstein commented on #144
@Kn4ppster

hmmm, i think the data returned by fetch is the raw model data and not the constructed models. I'll dig into this a bit more - I think you need to iterate over the original collection (`post_collection.each`) - which will now be populated with the fetched models, instead of the returned objects.

This worked in my testing:

{{{
wp.api.loadPromise.done(function() {
    var posts_collect

[2017-01-12 14:36] Kn4ppster commented on #144
Ah yes that works, sorry I'm fairly new to Backbone models, I was expecting a collection of model objects.

[2017-01-12 18:16] adamsilverstein commented on #144
Right, I checked and the models are set on the collection when they arrive, see http://backbonejs.org/#Collection-fetch. The data returned from the server in the fetch callback is the underlying model data, not the models themselves. if you want the helper functionality, use the model(s) from the collection.

[2017-01-13 15:55] adamsilverstein commented on #145
@lucasstark  Thanks for the bug report and for your patience!

There was a bug in the underlying mechanism that constructed the models and collections that caused the overwriting you were seeing. I pushed a fix in https://github.com/WP-API/client-js/pull/155 and also built the fixed version in the develop branch. In my testing I am now able to connect to two separate APIs and use them separately.

[2017-01-16 09:34] CookieMonster70 opened #156 "Comments/Posts is not a constructor"
Hi,
I don't know what I'm doing wrong?
I'm getting always the following error:
`wp.api.collections.Comments is not a constructor
    at b.$scope.getCollections (calculator25.js:578)
    at fn (eval at compile (angular.js:15152), <anonymous>:4:162)
    at e (angular.js:26673)`

I have also implemented the following lines, but it doesn't even go inside this function.
`wp.api.loadPromise.done( functi

[2017-01-16 13:39] adamsilverstein commented on #156
@CookieMonster70 Hi, thanks for the question.

It sounds like the client is not completing initialization which would explain the `done` method never getting called. Can you share your code thats failing and also your API schema (or URL if its public). to get the schema, just open site/wp-json and copy the results.

Thanks.

[2017-01-17 07:53] CookieMonster70 commented on #156
Hi Adam,
I'm getting back the following, when I enter /wp-json but I didn't copy the complete response it's too huge.:{"name":"SomeCompany","description":"","url":"http:\/\/somepage.com","home":"http:\/\/somepage.com\/de","namespaces":["oembed\/1.0","yoast\/v1","wp\/v2"],"auhentication":[],"routes":{"\/":{"namespace":"","methods":["GET"],"endpoints":[{"methods":["GET"],"args":{"context":{"required

[2017-01-17 08:01] CookieMonster70 commented on #156
Hi Adam,
I'm getting back the following, when I enter /wp-json but I didn't copy the complete response it's too huge.: `{"name":"SomeCompany","description":"","url":"http:\/\/somepage.com","home":"http:\/\/somepage.com\/de","namespaces":["oembed\/1.0","yoast\/v1","wp\/v2"],"auhentication":[],"routes":{"\/":{"namespace":"","methods":["GET"],"endpoints":[{"methods":["GET"],"args":{"context":{"requir

[2017-01-20 16:01] adamsilverstein commented on #156
Hey Dan aka @CookieMonster70:

Are you certain you are loading the wp-api script, you have to add it as a dependency of your script. Can you try inspecting wp.api.collections after the api initializes? you can do this in the chrome console. do you have Comments?

![](https://cl.ly/2L2W3X2c0L1T/wpdev__Just_another_WordPress_site_2017-01-20_11-00-09.jpg)

[2017-01-24 22:34] adamsilverstein commented on #145
Opened a track ticket to get this into core: https://core.trac.wordpress.org/ticket/39683#ticket

[2017-01-24 22:35] #145 closed

[2017-01-27 07:24] emilsgulbis commented on #156
There is similar problem for me to.
Just made new CPT with REST support and can receive posts via URL **http://example.com/wp-json/wp/v2/testimonials** but when trying to use Javascript API client got `wp.api.collections.Testimonials is not a constructor`

Is there any caching for Models and Collections for Backbone models and way to force update on these?

[2017-02-06 15:28] praveenaj commented on #96
Following @danielbachhuber's advise I have WP REST API - Meta Endpoints installed but still I don't get meta objects. `wp.api.collections.PagesMeta`, `wp.api.collections.PostsMeta`, `wp.api.models.PagesMeta` and `wp.api.models.PostsMeta` are undefined.

[2017-02-14 13:38] ocean90 opened #162 "wpApiSettings is printed twice"
When using the plugin with 4.7 the `wpApiSettings` variable gets printed twice:

[code]

A fix would be to reset the existing data like so:

[code]

We could also try to merge the data but I don't think it's necessary here.

[2017-02-14 21:57] Maden-maxi opened #163 "wp.api.models.PostMeta is not a constructor"
When I trying get PostMeta, i get an error Uncaught TypeError:  wp.api.models.PostMeta is not a constructor

[code]
please response me how can i retrive postmeta particular post using Backbone client-js

[2017-03-22 17:22] adamsilverstein opened #164 "Client should use the refreshed nonce returned by the API"
See https://core.trac.wordpress.org/ticket/35662

[2017-04-18 14:04] bit9labs commented on #163
+1 Having this same issue/question

[2017-04-18 17:07] bit9labs commented on #163
Not sure if this is the intended work around, but I found this in the manual: https://developer.wordpress.org/reference/functions/register_rest_field/

If you follow the example provided in the comments _(change post-meta-fields to post_meta_fields)_ you get:
[code]

[2017-04-26 05:02] samvthom16 opened #165 "Custom endpoint while extending wp.api.Models.User"
How do I fetch items from the custom end point that is extended from WP_REST_Users_Controller in backbone?

My version string is 'yka/v1/follow' and I have been trying to do this:

var FollowUser = wp.api.models.User.extend({

});

But everytime I do fetch, it still fetches from the wp-json/v2/users
var follow_user = new FollowUser({id:1}).fetch();

Could you suggest on how to add the custom end p

[2017-05-05 16:29] brickcap opened #166 "Usage outside of wordpress"
Hi,

Is it possible to use this client outside of a wordpress install? Like say from a static page served by nginx?

Also how is the authentication handled by the library? Is there any way I can check with my server that the requests being made are by an authenticated user?

Thanks,
Akshat

[2017-05-05 16:52] adamsilverstein commented on #166
It is possible, although the library was primarily designed to be loaded from WordPress - its also Backbone based.  Outside of that context, check out https://github.com/WP-API/node-wpapi.

If your request are authenticated, on the server side they will come from the authenticated user. the library support cookie/nonce authentication by default, a plugin is available to provide oauth1 authenticati

[2017-05-05 16:52] #166 closed

[2017-05-05 16:55] adamsilverstein commented on #165
Do the custom endpoints appear in the schema? do you have `show_in_rest => true` when you set them up?

Once they appear in schema the client should automatically create the FollowUser model (note: clear sessionstorage or open new window to get a fresh schema parse)

[2017-05-05 16:58] adamsilverstein commented on #163
@bit9labs @Maden-maxi you need to include the ID of the post that you want as the parent:

[code]

[2017-05-05 16:59] adamsilverstein commented on #156
Closing as inactive, please re-open if you are still having this issue.

[2017-05-05 16:59] #156 closed

[2017-05-05 17:54] brickcap commented on #166
Thanks Adam! Does this librrary work in a multisite setup?

[2017-05-05 19:01] adamsilverstein commented on #166
Yes. And you can connect to multiple endpoints/sites simultaneously since this ticket was committed (should be backported to 4.7.5, will be in 4.8) https://core.trac.wordpress.org/ticket/39683

[2017-05-08 14:40] samvthom16 commented on #165
They do appear in the schema /wp-json.

How do I create the FollowUser model from that?

[2017-05-23 04:42] rmccue opened #167 "Settings is incorrectly registered as a collection"
`/wp/v2/settings` is a model, not a collection. This is incorrectly detected due to the JS code assuming anything not ending with a regex is a collection, which is not true.

Potentially, we need to change the API to better expose what is and isn't a collection to the JS. The schema in the returned OPTIONS currently indicates that the response is an object, whereas it's actually a list of objects.

[2017-05-23 12:17] adamsilverstein commented on #167
Correct, currently the client assumes that routes ending in a word (eg 'settings') are parsed as collections, and routes ending in a regex are considered a singular model. This aligns well with typical REST endpoints, however there are exceptions. In core, the only exception is '/me' with returns a single model of data, not a collection.

I would love a way to determine model or collection based o

[2017-05-30 03:25] rmccue commented on #167
As mentioned, `/settings` is also a model, not a collection.

We should discuss how best to expose collections vs models via the API. Changing the schema is the best way, I think. See https://github.com/WP-API/proposals/issues/2 for that discussion.

In the meantime, we should special-case `/settings` as well.

[2017-05-30 03:27] rmccue opened #168 "Meta isn't supported for comments, terms and users"
Seems like currently, meta is only supported for posts and pages?

Edit: Actually, seems like the meta pieces haven't been updated for the new-style meta model?

[2017-06-15 08:09] adamsilverstein commented on #168
Closing in favor of https://core.trac.wordpress.org/ticket/41055

[2017-06-15 08:09] #168 closed

[2017-06-15 08:16] adamsilverstein commented on #167
Closing in favor of https://core.trac.wordpress.org/ticket/41056#ticket

[2017-06-15 08:16] #167 closed

[2017-06-15 08:18] adamsilverstein commented on #163
@bit9labs @Maden-maxi thanks for the feedback -

Closing this in favor of https://core.trac.wordpress.org/ticket/41055 so we can work on this in core.

[2017-06-15 08:18] #163 closed

[2017-06-15 08:36] adamsilverstein commented on #165
Development of the client is continuing in WordPress Trac (https://core.trac.wordpress.org). @samvthom16 if you are still experiencing an issue you think is a bug, please open a ticket there.

[2017-06-15 08:36] #165 closed

[2017-06-15 08:38] adamsilverstein commented on #164
Closing in favor of https://core.trac.wordpress.org/ticket/40422

[2017-06-15 08:38] #164 closed

[2017-06-15 08:41] adamsilverstein opened #169 "Don't load plugin on wp >=4.7"
The client is bundled in WordPress 4.7, so if the plugin is installed in that version or newer, we should disable it.

[2017-06-15 08:41] adamsilverstein commented on #162
Development of the client is continuing in core. We should avoid loading the plugin for wp >= 4.7. Closing in favor of https://github.com/WP-API/client-js/issues/169.

[2017-06-15 08:41] #162 closed